In [1]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1,2,3,4,5,6,7,8,9,10]

# Convert the list to a pandas series
my_series = pd.Series(my_list)

# Print the resulting Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob','Claire']
        'Age':  [25,30,27],
        'Gender':  ['Female','Male','Female']}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (915583852.py, line 3)

In pandas,a DataFrame is a two-dimensional is a two-dimensional labeled data structure that resemble a table or a spreadsheet.it consists of rows and columns,where each column can be of a diffrent data type.DataFrames are particularly useful for handling and analyzing structured data.

In [6]:
import pandas as pd

# Creating a Series
my_series = pd.Series([1,2,3,4],
                      name='MySeries')

# Creating a DataFrame
data = {'Column1': [1,2,3,4],
        'Column2': ['A','B','C','D']}
my_dataframe = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series:")
print(my_series)
print("\nDataFrame:")
print(my_dataframe)

Series:
0    1
1    2
2    3
3    4
Name: MySeries, dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

In pandas,a libary for data manipulation in python,both Series and DataFrame are mutable,meaning you can modify their values after creation.However,the concept of panels has been deprecated in recent version of pandas,and it's recommended to use multilndex DataFrames instead.

In [10]:
import pandas as pd

# Creating Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25,30,22])
scores = pd.Series([95,89,75])

# Creating DataFrame using the Series
data = {'Name': name, 'Age': ages,'Score':scores}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age  Score
0    Alice   25     95
1      Bob   30     89
2  Charlie   22     75